.hero-bg{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.banar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banar-tital{
    color: #4E47FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button{
    background-color:#4E47FF;
    color: white; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.button1{
    width: 82px;
    height: 40px;
}
.text-center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 158px;
}
.text{
    height: 237px;
    width: 905px;
    color: #252432;


}
.button2{
    width: 112px;
    height: 40px;
}
div .text h1{
 font-size: 50px;
 font-weight: bold;
}
/* <!--New verson--> */

.webflowverson{
    width: 1140px;
    height: 328px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.webflowverson-lite{
   height: 100%;
   width: 400px;
}
.webflowverson-lite div h1{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.webflowverson-lite div p{
    color: #252432;
    font-size: 24px;
    font-weight:400;
}
.button3{
    width: 172px;
    height: 40px;
}
.webflowverson-img{
    height: 328px;
    width: 403px;
    border-radius: 40px;
}
/* <!--Wedside Persenteg start--> */

.persenteg-bg{
    background-color: #4d47ff2a;
    height: 306px;
    width: 1140px;
    margin: 100px auto;
    border-radius: 10px;

}
.persenteg-tital{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.persenteg-dis{
 display: flex;
 justify-content: space-around;
}
div .persenteg-lite h1{
 font-size: 80px;
 font-weight: bold;
 margin: 0;
 color: #4E47FF;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifgi;
}
div .persenteg-lite h4{
    font-size: 20px;
    margin: 10px;
    color: #0000007e;
}